body {
    background-color: lightgreen;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0
}

h1 {
    background-color: darkgreen;
    color: white;
    font-size: 4em;
    padding: .5em;
}

h2 {
    background-color: darkgreen;
    color: white;
    font-size: 4em;
    padding: .5em;
}

p {
    color: black;
    font-size: 1em;
    padding: 1em;
}

nav {
    background-color: darkgreen;
    color: white;
    font-size: 2em;
    padding: .5em;
    border-bottom: .5em
}
